.titleLogo{
    max-width: 1200px;
    margin: auto;
    


    .titleee{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        color: #000000;        
    }
    .description{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #555555;
        margin-top: -35px;
    }
    .buttonswithlogo{
        display: flex;
        justify-content: space-between;

        .buttons{
            display: flex;
            gap: 40px;
            button{
                width:100px ;
                height: 40px;
                background: #FFFFFF;
                border: 1px solid #E8E8E8;
                box-sizing: border-box;
                border-radius: 8px;
            }
            button:hover{
                background: #FFFFFF;
                border: 1px solid #222222;
                box-sizing: border-box;
                border-radius: 8px;
                transition: 1s;
            }
        }
        .view{
            display: flex;
            flex-direction: column;
            align-items: center;

            .text{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                color: #3771C8;
                margin-bottom: -10px;
                margin-top: -6px;
            }
            .line{
                width: 109px;
                height: 6px;
                border: 1px solid #F9D15C;
                box-sizing: border-box;
                border-radius: 280px;
            }
        }
    }
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .cards{
        width:390px;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 16px;



        .descriptions{
            padding-left: 20px;

            .titleLogoo{
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #222222;
                margin-bottom: -10px;
                

            }
            .descriptionLogo{
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #555555;
            }
            .buttonCost{
                display: flex;
                justify-content: space-between;
                padding-right: 20px;
                padding-bottom: 25px;
                .cost{
                    .forColor{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 24px;
                        color: #3771C8;
                    }
                    span{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 24px;

                    }
                }
                .button{
                    width: 77px;
                    height: 30px;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                    background: #3771C8;
                    border-radius: 4px;
                    border: none;
                }
            }
        }    
    }
}



