.title {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center    ;
}

.container {
  max-width: 1200px;    
  margin: auto;
  display: flex;  
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .description {
    width: 600px;
    max-height: 387px;
    background: #f9d15c;
    border-radius: 12px;
    margin-left: -5px;
    text-align: center;
    padding-top: 40px;

    .titlee {
      display: flex;
      flex-direction: column;
      justify-content: center;


      div {
        .titleLogo {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 32px;
          color: #555555;
        }
      }
    }
    .descriptionn {
      max-width: 100%;
      font-family: Open Sans;
      font-style: italic;
      text-align: center;
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
      color: #222222;
      margin-top: -20px;
    }
  }
  .img{
    .imgimg{
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .title{
    
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

}
@media screen and (max-width: 1080px) {
  .container{
    .description{
        .descriptionn{
          font-size: 20px;
          line-height: 22px;

        }
    }
  }
}
@media screen and (max-width: 890px) {
  .container{
    .description{
        .titlee{
          div {
            .titleLogo {
              margin-top: -10px;
            }
          }
        }
        .descriptionn{
          font-size: 18px;
          line-height: 18px;

        }
    }
  }
}
@media screen and (max-width: 760px) {
  .container{
    .description{
      .titlee{
          margin-top: -20px;
          div {
            .titleLogo {
              margin-top: -10px;
            }
          }
        }
        .descriptionn{
          font-size: 16px;
          line-height: 16px;

        }
    }
  }
  
}
@media screen and (max-width: 670px) {
  .container{ 

    display: flex;
    flex-wrap: wrap;
      .img{
        
      max-width: 550px;
      }
    .description{
      max-width: 550px;
      margin-left: 1px;
      .descriptionn {
        font-weight: 200;
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
  
}
@media screen and (max-width: 670px) {
  .container{ 

    .description{
      .descriptionn {
        font-size: 22px;
        line-height: 22px;
      }
    }
  }
  
}
@media screen and (max-width: 550px) {
  .container{ 


    .description{
      .descriptionn {
        font-size: 18px;
        line-height: 16px;
      }
    }
  }
  
}
@media screen and (max-width: 390px) {
  .container{ 
    padding-left: 30px;
    padding-right: 30px;
    .description{
      .descriptionn {
        font-size: 14px;
      }
    }
  }
  
}
 







// @media screen and (max-width: 650px) {

// }

// @media screen and (max-width: 650px) {

// }